{% extends "bridge_app/layout.html" %}
{% load static %}
{% block title %}
  О проекте
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'bridge_app/css/page2.css' %}">
{% endblock %}
{% block content %}
  <div class="project-overview">
    <main class="main-content">
      <div class="content-wrapper">
        <div class="image-column">
          <a href="index" class="bridge-image">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/02ebcdcb6386362723e417bdfc1c1a6e651d28fa8ffe9894e508591f6d4e4383?placeholderIfAbsent=true&apiKey=8f78af374d1a4dcb8c7332179435552e" class="bridge-image" alt="Bridge design visualization" />
          </a>
        </div>
        <div class="text-column">
          <p class="description">
            Расчет, анализ и виртуальные испытания проектируемых и существующих сооружений: от простых пешеходных переходов до уникальных конструкций.
          </p>
        </div>
      </div>
    </main>
    <div class="main-content">
      <div class="content-wrapper">
        <div class="text-column main-description">
          <p class="description">
            Онлайн-сервис проектировщика мостов представляет собой современное программное обеспечение, предназначенное для оптимизации процесса проектирования мостовых конструкций. Использование данного инструмента позволяет инженерам значительно сократить временные затраты на разработку проектов, повысить точность расчетов и минимизировать риски возникновения ошибок.
          </p>
        </div>
        
        <div class="features-col">
          <div class="features-wrapper">
            <div class="feature-block">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d4187a18f27ec3af0a81131068fa865ea89283fe8eb2396f8b4d437d3c542302?placeholderIfAbsent=true&apiKey=59f28eeff0d54a489ea23ebcb4424255" class="feature-icon" alt="Features Icon" />
              <div class="feature-list">
                <div class="heading-bold">Основные функции сервиса включают:</div>
                <ul>
                  <li class="list-item">Автоматизированное создание чертежей и схем;</li>
                  <li class="list-item">Проведение комплексных инженерных расчетов с учетом всех нормативных требований;</li>
                  <li class="list-item">Визуализация проекта в 3D формате для детального анализа конструкции;</li>
                  <li class="list-item">Возможность интеграции с другими инженерными программами.</li>
                </ul>
              </div>
            </div>
            
            <div class="feature-block">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ea0c022eac43fdce9a1f8a8aacab8761ea0793a3be8da8050023e57f1a2eeb5f?placeholderIfAbsent=true&apiKey=59f28eeff0d54a489ea23ebcb4424255" class="benefits-icon" alt="Benefits Icon" />
              <div class="benefits-list">
                <div class="heading-bold">Преимущества использования онлайн-проектировщика мостов:</div>
                <ul>
                  <li class="list-item">Доступность в любое время и с любого устройства;</li>
                  <li class="list-item">Обеспечение высокой точности и надежности результатов;</li>
                  <li class="list-item">Экономия ресурсов за счет автоматизации рутинных задач;</li>
                  <li class="list-item">Постоянная поддержка и обновления программного обеспечения.</li>
                </ul>
              </div>
            </div>
            
        </div>
      </div>
    </div>
    <div class="button-container">
      <a href="page" class="cta-button">
        НАЧАТЬ ПРОЕКТИРОВАТЬ
      </a>
  </div>
  </div>
{% endblock %}
