{% extends "bridge_app/layout.html" %}
{% block title %}
  Примеры
{% endblock %}
{% block content %}
  <div class="bridge-design">
  
    <main class="main-content">
      <div class="content-wrapper">
        <div class="image-column">
          <a href="page2" class="bridge-image">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/02ebcdcb6386362723e417bdfc1c1a6e651d28fa8ffe9894e508591f6d4e4383?placeholderIfAbsent=true&apiKey=8f78af374d1a4dcb8c7332179435552e" class="bridge-image" alt="Bridge design visualization" />
          </a>
        </div>
        <div class="text-column">
          <p class="description">
            Расчет, анализ и виртуальные испытания проектируемых и существующих сооружений: от простых пешеходных переходов до уникальных конструкций.
          </p>
        </div>
      </div>
    </main>
  
    <h2 class="section-title">Выберите тип моста</h2>
  
    <div class="bridge-types-row">
      <a class="bridge-button" href="/bridge_designer">ПЕШЕХОДНЫЙ ПЕРЕХОД</a>
      <a class="bridge-button" href="/bridge_designer">БАЛОЧНЫЕ МОСТЫ</a>
      <a class="bridge-button" href="/bridge_designer">ВАНТОВЫЕ МОСТЫ</a>
    </div>
  
    <div class="bridge-types-row-2">
      <a class="bridge-button" href="/bridge_designer">ФЕРМЕННЫЕ МОСТЫ</a>
      <a class="bridge-button" href="/bridge_designer">АРОЧНЫЕ МОСТЫ</a>
      <a class="bridge-button" href="/bridge_designer">ВИСЯЧИЕ МОСТЫ</a>
    </div>
  
    <div class="button-container">
      <a href="/bridge_designer" class="cta-button">
        НАЧАТЬ ПРОЕКТИРОВАТЬ
      </a>
    </div>
  </div>
  <script src="js/OrbitControls.js"></script>
{% endblock %}
